# macOS / OS X
.DS_Store

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
node_modules/.cache/
expo-debug.log
yarn.lock
yarn-error.log

# Amplify
.amplify/
amplify-configuration/
aws-exports.js

# Amplify local mocking
amplify/mock-data/
amplify/mock-api/

# Build output
build/
dist/
web-build/

# Logs
logs/

# Miscellaneous
*.log
*.backup
*.swp

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
